/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/04/2017, 08:32:43 AM
    Author     : wonder
*/

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.scroll-pane::-webkit-scrollbar {
    width: 7px;
}

.scroll-pane::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll-pane::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.br-gray{
    border-right: solid 1px gray;
}

.btn-action-image{
    position: absolute; top:5px; left:50%; margin-left:-50px; z-index: 999; opacity: .5
}
.btn-action-image:hover{
    opacity: 1
}
.box.no-border{
    border-top:none;
}

/*NO PADDING*/
.no-padding-right{
    padding-right: 0;
}
.no-padding-left{
    padding-left: 0;
}

/*MARGIN TOP*/
.mt0{
    margin-top: 0px;
}
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mt40{
    margin-top: 40px;
}

/*MARGIN BOTTOM*/
.no-margin{
    margin-top:0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.no-margin-right{
    margin-right: 0;
}
.no-margin-left{
    margin-left: 0 !important;
}
.no-margin-top{
    margin-top: 0;
}
.no-margin-bottom{
    margin-bottom: 0;
}

.mb0{
    margin-bottom: 0px;
}
.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.mb40{
    margin-bottom: 40px;
}

/*Margin Left*/
.ml0{
    margin-left: 0px;
}
.ml5{
    margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left: 20px;
}

/*PADDING*/
.pb0{
    padding-bottom: 0px;
}
.pb5{
    padding-bottom: 5px;
}
.pb10{
    padding-bottom: 10px;
}
.pb15{
    padding-bottom: 15px;
}
.pb20{
    padding-bottom: 20px;
}

.pt0{
    padding-top: 0px;
}
.pt5{
    padding-top: 5px;
}
.pt10{
    padding-top: 10px;
}
.pt15{
    padding-top: 15px;
}
.pt20{
    padding-top: 20px;
}

.pl0{
    padding-left: 0px;
}
.pl5{
    padding-left: 5px;
}
.pl10{
    padding-left: 10px;
}
.pl15{
    padding-left: 15px;
}
.pl20{
    padding-left: 20px;
}

.pr0{
    padding-right: 0px;
}
.pr5{
    padding-right: 5px;
}
.pr10{
    padding-right: 10px;
}
.pr15{
    padding-right: 15px;
}
.pr20{
    padding-right: 20px;
}

/*HEIGH*/

.h150{
    height: 150px; overflow-y: auto; 
}

.h200{
    height: 200px; overflow-y: auto; 
}

.h250{
    height: 250px; overflow-y: auto; 
}

.h300{
    height: 300px; overflow-y: auto; 
}
.h350{
    height: 350px; overflow-y: auto; 
}

.h500{
    height: 500px; overflow-y: auto; 
}

.mh200{
    max-height: 200px; overflow-y: scroll; 
}

.mh300{
    max-height: 300px; overflow-y: scroll; 
}
.mh600{
    max-height: 600px; overflow-y: auto;
}
.row1.mh600{
    height: inherit !important;
}

.mih300{
    min-height: 300px; 
}

.mih600{
    min-height: 600px;
}

/*WIDTH*/
.th-operation{
    width:140px;
    text-align: center;
}

.th-operation-1{
    width:50px;
    text-align: center;
}

.th-img-thumb{
    width:150px;    
}

/*DIALOG*/
.ngdialog.ngdialog-theme-default .ngdialog-content{
    padding: 0;
}

/*LOGIN BOX*/
/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  { 

}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  { 

}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  { 

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {  }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/*COMMON*/
.th-acciones{
    width:120px; text-align: center
}

.th-acciones-140{
    width:140px; text-align: center
}

.td-acciones{
    text-align: center;
}

.th50{
    width: 50px;
}

.th-thumbnail{
    width:100px;
}

.image-thumb{
    position:relative;
    height: 100px;
    overflow: hidden;
}
.btn-delete-image{
    padding: 2px;
    font-size: 10px;
    width: 25px;
    height: 25px;
    line-height: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 50px 10px;
}

.dragOverClassObj{
    border: 5px dashed blue;
}

/*SO-SINGLE IMAGE PICKER*/

/*RE-WRITE*****************************/

/*megamenu*/
.skyblue, .skyblue>li.showhide {
    width: inherit;
}

.h_inherit{
    height: inherit !important;
}

.products-grd {
    float: left;
    width: 31.9%;
    text-align: center;
    position: relative;
    margin: 0 10px 10px 0;
}


.cliente-sucursal-list{
    max-height: 170px;
    overflow-y: auto;
}

.cliente-sucursal-list .sucursal-item a{

}
.cliente-sucursal-list .sucursal-item a{

}

.cliente-sucursal-detail{

}

.cliente-sucursal-detail small{
    color: #ccc; text-transform: uppercase;
}

.cliente-sucursal-detail p{
    margin-bottom: 15px
}
.cliente-sucursal-list .nombre-sucursal{
    height: 20px; overflow: hidden;
}
/*
.sucursal-item-thumb-layout .thumbnail{
    height: 150px;
    overflow: hidden;
}*/

.sucursal-item{}

.sucursal-item-thumb{
    border:solid 1px #ccc;
    border-radius: 4px;
    text-align: center;
}
.sucursal-item-thumb .thumb{
    height: 120px;
    padding: 5px;

} 
.sucursal-item-thumb .thumb img{
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.sucursal-item.selected .sucursal-item-thumb{
    color: #333;
    box-shadow: 5px 5px 7px #888;
}

.sucursal-item.selected span.badge{

}

.post-categories{
    text-align: right;
}

.post-categories a{
    font-size: 12px;
}

.post-categories i{

}

.post-title{
    font-size: 16px;
    margin: 0 0 5px;
}

.post-label{
    font-size: 13px;
    line-height: 1.5em;
    color: #999;
    margin: 0.1em 0;
}
.post-label i{
    color:#333; font-weight: 600; margin-right:5px;
}

.post-tlf, .post-horario, .post-direccion{

}
.post-info-wrapper{
    display: table;
    width: 100%;
    background: #e6e6e6;
}
.thumbnail.post-thumb{
    margin-bottom: 0;
    min-height: 100px;
    border: solid 1px #ccc;
}
.post-thumb .btn-favourite{

}
/*toolbar*/
.tool-bar-grid{
    display: table;
    margin: 0 0 20px 0;
    width: 100%;
    background: #ECECEC;
}
.tool-bar-grid ul{
    list-style: none;
}
.tool-bar-grid ul li{
    display: table-cell;
    margin: 0 5px;
    text-decoration: none;
    padding:3px 10px;
}
.tool-bar-grid ul li:hover{
    cursor: pointer;
    background: #ccc; 
}
.tool-bar-grid ul li:first-child{

}

/*.tool-bar-grid ul li:first-child:hover{
    background: none;
    color:inherit;
    cursor: inherit;
}*/

.tool-bar-grid ul li.label-item{
    background: none;
    color:inherit;
    cursor: inherit; 
}

.tool-bar-grid ul li.active{
    background: #337ab7; color:#fff;
}

.prd-quad-item{
    margin-bottom: 15px;
}
.prd-quad-item .p-one{
    padding: 0
}

.prd-quad-item h4{
    height: 45px;
    overflow: hidden;
    display: block;
    padding: 0 7px;
    font-size: 14px;
    text-align: center;
}

/*Side bar- Widget recomendados */
.row1.panel-recomendados {
    padding: 20px 15px;
    overflow: auto;
    height: 200px;
}
.widget-recomendados{

}
.widget-recomendados .r-bottom{
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    padding: 5px 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.widget-recomendados .thumbnail{
    margin-bottom: 5px;
}
.widget-recomendados a{}

.widget-recomendados .descripcion{
    font-size: 12px;
}
.widget-recomendados .btn-layout-like{

}
.widget-recomendados .btn-layout-like span{
    font-size: 12px;
}

.widget-recomendados .btn-layout-like button{
    border:none;
    background: none;    
}

.widget-recomendados .btn-promocionar{
    border-radius: 0; 
    font-size: 11px;
    padding: 3px 4px;
}
/*REWRITE*/
.header_top {
    padding: 10px 0;
}
.logo a {
    font-size: 1.5em;
    padding-left: 2.2em;
    padding-top: 5px;
}
.search {
    float: right;
}

.thumb-cliente-sucursal .thumbnail, .bg-image-cliente{
    box-shadow: 3px 3px 5px #888;
}

.bg-image-cliente{
    /*background: url(https://dummyimage.com/1200x300.jpg/ECECEC) center top no-repeat;*/
    display: table;
    width: 100%;
    position: relative;
    min-height: 300px;
    margin-bottom: 30px;
}
.thumb-cliente-sucursal{
    position: absolute;
    bottom: 0;
    margin-bottom: -49px;
    left: 145px;
    width:480px
}
.thumb-cliente-sucursal .thumbnail{
    min-height: 130px;
}
.single {
    padding: 2em 0 0;
}

.products-grid-left.main-content{
    overflow: hidden; min-height: 500px;      
}

.procesando-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(255,255,255,.6);
}

.procesando-overlay p{
    text-align: center; top:40px;    
}

.home-1{

}

.home-main-slider{}
.home-main-slider .flexslider-container{}
.home-main-slider .flexslider{
    margin-bottom: 0;
}
.home-main-slider .slides{}
.home-main-slider .slides > li{}
.home-main-slider .flex-control-nav.flex-control-paging{
    bottom: 0;
    z-index: 9;
}
.home-main-slider .flex-direction-nav{}

.home-main-slider .flex-direction-nav .flex-nav-prev{}
.home-main-slider .flex-direction-nav .flex-nav-prev .flex-prev{}

.home-main-slider .flex-direction-nav .flex-nav-next{}
.home-main-slider .flex-direction-nav .flex-nav-next .flex-next{}

.home-main-slider .flex-control-paging li a{
    background: #fff;
}
.home-main-slider .flex-control-paging li a.flex-active{
    background: red;
    border:solid 1px #fff;
}
.home-main-slider .content-slide{
    position: absolute;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    color:#333;
}

h3.page-title{
    margin: 30px 0;
}

.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: .5;
        }
    }
    &.ng-leave {
        opacity: .5;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}

.top_left ul > .top_link{
    border-right: solid 1px #fff;
    padding-right: 10px;
}

.top_left ul > .top_link:last-child{
    border-right: none;
    padding-right: 0;
}

.profile-avatar{

}

.profile-thumb{
    text-align: center;
    width: 150px;
    margin: 0 auto;
    height: 150px;
    background: #f5f5f5;
    padding: 5px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px #ccc;
}

.profile-thumb img{
    margin:0 auto;
}
.profile-avatar .sip-upload{
    text-align: center;
    padding: 10px;    
}

.profile-avatar .sip-upload .btn{
    padding: 2px 15px;
    font-size: 12px;
    border-radius: 0;
}

.profile-avatar .sip-upload .text-info{
    padding: 5px;
    font-size: 12px;
}

.list-group-edit-profile .list-group-item{
    width: 100%;
    display:table;
}

/*RESET BTN*/
button.btn-favourite, 
button.btn-wish, 
button.btn-customized{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
button.btn-favourite, 
button.btn-wish,
button.btn-customized{
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    outline:none;
}
button.btn-wish::-moz-focus-inner,
button.btn-favourite::-moz-focus-inner,
button.btn-customized::-moz-focus-inner
{
    border: 0;
    padding: 0;
}
.btn-wish i, .btn-favourite i{
    font-size: 18px
}
.btn-favourite i{
    color:#EDB867;
}

.btn-wish i{
    color:red
}

.add-to-my-lists{
    text-align: center;
}
.text-left.add-to-my-lists{
    text-align: left
}
.text-right.add-to-my-lists{
    text-align: right
}
.btn-add-to-my-list{
    padding: 0 5px !important;
}
.text-error{
    color:red
}

.btn-check.btn-customized{
}

.btn-check.btn-customized i{
    font-size: 20px
}

.btn-check.btn-customized span{

}
.btn-customized.btn-check.checked-by-admin i{
    color: #EDB867;
}
.btn-customized.btn-check.checked-by-user i{
    color: #009b50
}
.btn-customized.btn-check.no-checked{
    color:#d2d2d2;
}
.product-profile-tool-bar{
    position: absolute;
    right: 0;
    height: 100%;
    background: rgba(0,0,0, .2);
    padding: 20px;
    text-align: center;
}
.product-profile-tool-bar .wrapp{

}

.product-profile-tool-bar .btn-check.btn-customized{
    font-size: 32px;
}

/*
 * Component: Box
 * --------------
 */
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
    border-top-color: #3c8dbc;
}
.box.box-info {
    border-top-color: #00c0ef;
}
.box.box-danger {
    border-top-color: #dd4b39;
}
.box.box-warning {
    border-top-color: #f39c12;
}
.box.box-success {
    border-top-color: #00a65a;
}
.box.box-default {
    border-top-color: #d2d6de;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
    display: none;
}
.box .nav-stacked > li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
}
.box .nav-stacked > li:last-of-type {
    border-bottom: none;
}
.box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
}
.box .border-right {
    border-right: 1px solid #f4f4f4;
}
.box .border-left {
    border-left: 1px solid #f4f4f4;
}
.box.box-solid {
    border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
    background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
    background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
    border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
    color: #444444;
    background: #d2d6de;
    background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
    color: #444444;
}
.box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
    color: #ffffff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-info {
    border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
    color: #ffffff;
    background: #00c0ef;
    background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-danger {
    border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
    color: #ffffff;
    background: #dd4b39;
    background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-warning {
    border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
    color: #ffffff;
    background: #f39c12;
    background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
    color: #ffffff;
}
.box.box-solid.box-success {
    border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
    color: #ffffff;
    background: #00a65a;
    background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
    color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
    border: 0;
    box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
    color: #fff;
}
.box .box-group > .box {
    margin-bottom: 5px;
}
.box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
    border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
    margin-right: 5px;
}
.box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
    position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
    color: #606c84;
}
.btn-box-tool.btn:active {
    box-shadow: none;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.box-body > .table {
    margin-bottom: 0;
}
.box-body .fc {
    margin-top: 5px;
}
.box-body .full-width-chart {
    margin: -19px;
}
.box-body.no-padding .full-width-chart {
    margin: -9px;
}
.box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #ffffff;
}
.chart-legend {
    margin: 10px 0;
}
@media (max-width: 991px) {
    .chart-legend > li {
        float: left;
        margin-right: 10px;
    }
}
.box-comments {
    background: #f7f7f7;
}
.box-comments .box-comment {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
    content: " ";
    display: table;
}
.box-comments .box-comment:after {
    clear: both;
}
.box-comments .box-comment:last-of-type {
    border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
    padding-top: 0;
}
.box-comments .box-comment img {
    float: left;
}
.box-comments .comment-text {
    margin-left: 40px;
    color: #555;
}
.box-comments .username {
    color: #444;
    display: block;
    font-weight: 600;
}
.box-comments .text-muted {
    font-weight: 400;
    font-size: 12px;
}

/*HOME-PROMOCIONES*/
.wrap-overlay-promo{
    background: rgba(0,0,0,.6);
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display:none;
}
.head-para {
    position: absolute;
    top: 10%;
    left: 11%;
}
.banner-bottom1-grid1 {
    padding: 5px;
}
.banner-bottom1-grid1:hover .wrap-overlay-promo{
    display:block;
}

.sucursal-cliente-title{
    text-shadow: 2px 2px #333;
    color: #f5f5f5 !important;
}

/*Bar Rating  #02d645*/
.mcui-br-green{

}

.mcui-br-green{

}

.comments-links{}
.comments-links i{
    font-size: 20px;
}
.comments-links span{}
.comments-links span:last-child{
    padding: 0 5px
}

.comentario-modal-wrap{

}
.item-comentario{
    display: table;
    clear: both;
    margin: 5px 0 10px;
    background: #e6e6e6;
    padding: 10px;
    width: 100%;
    position:relative;
}
.item-comentario h5{
    font-weight: 600;
    margin-top: 0;
}
.item-comentario h5 span{
    font-weight: 400;
    padding: 0 5px;
}
.item-comentario p{

}
.item-comentario .fecha{
    font-size: 14px;
}
.item-comentario:not(:last-child):after {
    position: absolute;
    top: 100%;
    left: 25px;
    background-color: #e6e6e6;
    content: "";
    height: calc(.7rem + 4px);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: .2rem;
    z-index: 2;
}
.font-14{}
.font-14 .br-theme-fontawesome-stars .br-widget a{
    font-size: 14px;
}
.cliente-sucursal-detail.bg-image-cliente{
    min-height: 150px;
}
.cliente-sucursal-detail.bg-image-cliente .wrapp{
    padding: 10px;
    background: rgba(0,0,0,.4)
}
.cliente-sucursal-detail.bg-image-cliente .wrapp p,
.cliente-sucursal-detail.bg-image-cliente .wrapp p a,
.cliente-sucursal-detail.bg-image-cliente .wrapp .btn-customized.btn-check{
    color:#fff;
}
.cliente-sucursal-detail.bg-image-cliente .wrapp small {
    color:#d2d2d2;
}
.bgf9{
    background: #f9f9f9;
}

.comentario-form{}
.reporte-form{}
.comentario-form .font-13,
.reporte-form .font-13{
    font-size: 13px;
    color: #333;
    text-align: justify;
}

.valoracion-sucursal-perfil{
    width: 220px;
    background: rgba(0,0,0, .6);
    color: #fff;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 5px 15px;
}

.valoracion-sucursal-perfil small{
    text-transform: uppercase;
}

.accciones-sucursal-perfil{
    width: 220px;
    background: rgba(0,0,0, .6);
    color: #fff;
    position: absolute;
    right: 0;
    top: 100px;
    padding: 5px 15px;    
}

.custom-det-item{
    overflow: hidden;
    background: #f65a5b;
}
.custom-det-item .thumb{
    font-size: 30px;
    color:#fff;
}
.custom-det-item .thumb i{}
.custom-det-item .description{

}

.tp-perfil{}
.tp-perfil .tp-item{
    overflow: hidden;
    background: #f65a5b;
    margin:5px 0;
}
.tp-perfil .tp-thumb{
    font-size: 22px;
    color:#fff;
}
.tp-perfil .tp-descripcion{
}

.tp-perfil .tp-item:hover{
    cursor: pointer;
    background: #0a8ecd;
}
.tp-perfil .tp-item:hover .tp-descripcion{
    background: #f65a5b;
    color:#fff;
}

.tp-item.active{
    background: #0a8ecd;
}
.tp-item.active .tp-descripcion{
    background: #f65a5b;
    color:#fff;
}

.btn-dd-sucursal{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px; 
    opacity: .7;
}

.btn-customized.btn-dd-sucursal{
    background: #f65a5b;
    color: #fff;
    border-radius: 50%;
}

.btn-dd-sucursal:hover{
    opacity: 1
}

.load-more-result{
    text-align: center;
    position: absolute;
    bottom: 25px;
    width: 100%;
}
.btn-customized.btn-load-more{
    text-transform: uppercase;
    color: #333;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.btn-customized.btn-load-more:hover{
    color:#000;  
}

/*Sucursal Item*/

.favorite-overlay-sucursal{
    position: absolute;
    top: 5px;
    right: 15px;
}

.meta-list{
    padding: 0 0 8px 0;
    margin: 0;
    list-style: none;
}
.meta-list li {
    display: table-cell;
    padding-right: 10px;
    font-size: 13px;
    padding-left: 10px;
    position: relative;
}
.meta-list li:after {
    width: 1px;
    content: '/';
    position: absolute;
    height: 15px;
    color: #333;
    top: 2px;
    right: 0;
    font-size: 13px;
}
.meta-list li:first-child {
    padding-left: 0;
}
.meta-list li:last-child {
    padding-right: 0;
}
.meta-list li:last-child:after {
    padding-right: 0;
    content: '';
}
.meta-list .fa-comments-o{
    font-size: 14px;
}

/*WIDGET*/
.category-home-widget{}
.category-home-widget ul{
    padding: 0;
    margin:0;
}
.category-home-widget ul li{
    list-style: none;
    color: #333;
    margin: 3px 0;
}

.category-home-widget ul li:hover{
    cursor: pointer;
}
.category-home-widget i{

}

.category-active{
    background: #e6e6e6;
}