
<div class="favourites-list" ng-controller="FavouritesController as vm">
    <h3 class="mb20"><i class="fa fa-star"></i> Mi lista de favoritos</h3>

    <mcui-mylist
        data-collection="vm.collection"
        data-no-result="No tiene negocios en su lista de Favoritos !!">        
    </mcui-mylist>
    
</div>
