<!-- Profile Image -->

<div class="profile-avatar">
    <div class="profile-thumb">
        <img class="profile-user-img img-responsive img-circle" ng-src="{{ vm.model.avatar}}" alt="User profile picture">                
    </div>
</div>        

<h3 class="profile-username text-center">{{ vm.model.nombres + ' ' + vm.model.apellidos}}</h3>

<p class="text-muted text-center mb10">{{ vm.model.ocupacion}}</p>

<ul class="list-group list-group-unbordered">
    <li class="list-group-item">
        <i class="fa fa-user"></i>
        <label class="ml10">Nombre usuario</label>
        <a class="pull-right">{{ vm.model.usuarioDto.username}}</a>
    </li>
    <li class="list-group-item">
        <i class="fa fa-check"></i>
        <label class="ml10">Nombre / Apellidos</label>
        <a class="pull-right">{{ vm.model.nombres + ' ' + vm.model.apellidos}}</a>
    </li>            
    <li class="list-group-item">
        <i class="fa fa-calendar"></i>
        <label class="ml10">Fecha Nacimiento</label>
        <a class="pull-right">{{ vm.model.fechaNacimiento | date: short}}</a>
    </li> 
    <li class="list-group-item">
        <i class="fa fa-cogs"></i>
        <label class="ml10">Ocupación</label>
        <a class="pull-right">{{ vm.model.ocupacion}}</a>
    </li>
    <li class="list-group-item">
        <i class="fa fa-envelope-o"></i>
        <label class="ml10">Email</label>
        <a class="pull-right">{{ vm.model.usuarioDto.email}}</a>
    </li>             
    <li class="list-group-item">
        <i class="fa fa-cog"></i>
        <label class="ml10">Tipo perfil</label>
        <a class="pull-right">{{ vm.model.usuarioDto.tipoUsuarioDto.descripcion}}</a>
    </li> 
    <li class="list-group-item">
        <i class="fa fa-calendar"></i>
        <label class="ml10">Fecha registro</label>
        <a class="pull-right">{{ vm.model.usuarioDto.fechaRegistro | date:short }}</a>
    </li>         </ul>                


<a href="#" class="btn btn-primary btn-block" data-ui-sref="account.edit"><i class="fa fa-pencil"></i><b> Editar</b></a>
