<!-- Profile Image -->
<div class="profile-avatar">
    <mcui-account-imagepicker 
        file="vm.file" 
        data-source="{{ vm.model.avatar}}">
    </mcui-account-imagepicker>               
</div>

<h3 class="profile-username text-center">{{ vm.model.nombres + ' ' + vm.model.apellidos}}</h3>

<p class="text-muted text-center mb10">{{ vm.model.ocupacion}}</p>

<ul class="list-group list-group-unbordered list-group-edit-profile">
    <li class="list-group-item">
        <i class="fa fa-user"></i>
        <label class="ml10">Nombre usuario</label>
        <a class="pull-right">{{ vm.model.usuarioDto.username}}</a>
    </li>
    <li class="list-group-item" ng-class="{
            'has-error'
            : modelForm.nombres.$invalid}">
        <i class="fa fa-check"></i>
        <label class="ml10">Nombres</label>
        <div class="col-sm-6 pull-right no-padding-right">
            <input type="text" class="form-control text-right" name="nombres" ng-model="vm.model.nombres" ng-required="true" placeholder="Nombres *" />
        </div>
    </li> 
    <li class="list-group-item" ng-class="{
            'has-error'
                    : modelForm.apellidos.$invalid}">
        <i class="fa fa-check"></i>
        <label class="ml10">Apellidos</label>
        <div class="col-sm-6 pull-right no-padding-right">
            <input type="text" name="apellidos" class="form-control text-right" ng-model="vm.model.apellidos" ng-required="true" placeholder="Apellidos *" />
        </div>                
    </li>              
    <li class="list-group-item">
        <i class="fa fa-check"></i>
        <label class="ml10">Fecha Nacimiento</label>
        <div class="col-sm-6 pull-right no-padding-right">
            <input type="text" class="form-control text-right" ng-model="vm.model.fechaNacimiento" placeholder="Fecha nacimiento" />        
        </div>                 
    </li> 
    <li class="list-group-item">
        <i class="fa fa-check"></i>
        <label class="ml10">Ocupación</label>
        <div class="col-sm-6 pull-right no-padding-right">
            <input type="text" class="form-control text-right" ng-model="vm.model.ocupacion" placeholder="Ocupación" />        
        </div>                 
    </li>
    <li class="list-group-item" ng-class="{
            'has-error'
                    : modelForm.email.$invalid}">
        <i class="fa fa-check"></i>
        <label class="ml10">Email</label>
        <div class="col-sm-6 pull-right no-padding-right">
            <input type="email" name="email" class="form-control text-right" ng-model="vm.model.usuarioDto.email" placeholder="Email" />        
        </div>                   
    </li>             
    <li class="list-group-item">
        <i class="fa fa-cog"></i>
        <label class="ml10">Tipo perfil</label>                
        <a class="pull-right">{{ vm.model.usuarioDto.tipoUsuarioDto.descripcion}}</a>
    </li> 
    <li class="list-group-item">
        <i class="fa fa-calendar"></i>
        <label class="ml10">Fecha registro</label>
        <a class="pull-right">{{ vm.model.usuarioDto.fechaRegistro | date:short }}</a>
    </li>         
</ul>                


<div class="row">
    <div class="col-sm-6">
        <a href="javascript:" data-ui-sref="account.view" class="btn btn-default btn-block"><i class="fa fa-block"></i><b> Cancelar</b></a>
    </div>

    <div class="col-sm-6">
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="modelForm.$invalid"><i class="fa fa-floppy-o"></i><b> Guardar</b></button>
    </div>
</div>




