<div class="row-fluid" ng-repeat-start="prod in collection | filter: vm.quicksearch as quicksearchresult" style="overflow:hidden">

        <div class="clearfix"></div>

        <div class="col-sm-3">
            <div class="thumbnail post-thumb">
                <img ng-src="{{ prod.imagen}}" alt="" class="img-responsive" title="{{ prod.sucursalDto.clienteDto.nombreCorto || prod.sucursalDto.clienteDto.nombreCompleto }}" />
            </div>

            <div class="add-to-my-lists">
                <mcui-favourite 
                    data-checked="false" 
                    data-item-id="{{ prod.sucursalDto.id}}">
                </mcui-favourite>

                <mcui-wish 
                    data-checked="false" 
                    data-item-id="{{ prod.sucursalDto.id}}">   
                </mcui-wish>                    
            </div>
        </div>

        <div class="col-sm-9">                      
            <h4 class="post-title">
                <a data-ui-sref="product.view_sucursal({id:prod.sucursalDto.clienteDto.id, idsucursal: prod.sucursalDto.id})" title="{{ prod.sucursalDto.clienteDto.nombreCorto || prod.sucursalDto.clienteDto.nombreCompleto }}">
                    <span 
                        ng-if="prod.sucursalDto.clienteDto.nombreCorto || prod.sucursalDto.clienteDto.nombreCompleto">
                        {{ prod.sucursalDto.clienteDto.nombreCorto || prod.sucursalDto.clienteDto.nombreCompleto }},
                    </span> 
                    <span>{{ prod.sucursalDto.nombreSucursal}}</span>
                </a>                
            </h4>                  
            <p class="post-label post-tlf" ng-if="prod.sucursalDto.telefonos"><i class="fa fa-phone" aria-hidden="true"></i>{{ prod.sucursalDto.telefonos}}</p>
            <p class="post-label post-horario" ng-if="prod.sucursalDto.horarioAtencion"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ prod.sucursalDto.horarioAtencion}}</p>
            <p class="post-label post-direccion" ng-if="prod.sucursalDto.direccionFisica"><i class="fa fa-location-arrow" aria-hidden="true"></i>{{ prod.sucursalDto.direccionFisica}}</p>

        </div>

        <div class="col-sm-12">
            <mcui-post-categories data-categories="prod.categoriasDto"></mcui-post-categories> 
        </div>
    </div>

    <hr ng-repeat-end />    

    <p class="text-error text-center" ng-show="quicksearchresult.length == 0">{{ noResult }}</p>    