<div class="favourites-list" ng-controller="WishesController as vm">

    <h3 class="mb20"><i class="fa fa-heart"></i> Mi lista de deseos</h3>

    <mcui-mylist
        data-collection="vm.collection"
        data-no-result="No tiene negocios en su lista de Deseos !!">        
    </mcui-mylist>
    
</div>