<div class="tool-bar-grid">

    <ul class="pull-left pt5 pb5">
        <li class="label-item">
            <b class="pr5">Resultados</b> <span class="badge">{{ quicksearchresult.length}}</span>
        </li>
    </ul>

    <ul class="pull-right">
        <li>
            <input type="search" ng-model="vm.quicksearch" placeholder="Búsqueda rápida" class="form-control" />
        </li>
    </ul>


    <ul class="pull-right" style="padding: 5px 20px 5px 0">
        <li ng-class="!vm.viewmode.grid ? 'active' : ''" ng-click="vm.fn.setGridViewMode(false)" ng-if="1 != 1">
            <div class="wrapp">
                <i class="fa fa-th"></i>
            </div>

        </li>
        <li ng-class="vm.viewmode.grid ? 'active' : ''" ng-click="vm.fn.setGridViewMode(true)">
            <div class="wrapp">
                <i class="fa fa-th-list"></i>
            </div>
        </li>
    </ul>
</div>

<div class="products-grid-lft mb20 pb20 mh600 scroll-pane">
    <p class="text-center" ng-show="!vm.display.search && vm.data.productos.length == 0">No se encontraron resultados...</p>

    <div class="procesando-overlay" ng-show="vm.display.search">
        <p class="text-center">Buscando...</p>
    </div>


    <!--
    <pre>    
        {{ vm.data.productos[0] | json:4 }}
    </pre>
    -->


    <!-- GRID -->
    <div ng-show="vm.viewmode.grid">

        <div class="row-fluid" ng-repeat-start="prod in vm.data.productos | filter: vm.quicksearch as quicksearchresult" style="overflow:hidden">

            <div class="col-sm-12 bgf9 pt5">
                <h4 class="post-title">
                    <a data-ui-sref="product.view_sucursal({id:prod.sucursalDto.clienteDto.id, idsucursal: prod.sucursalDto.id})" title="{{ prod.sucursalDto.clienteDto.nombreCorto || prod.sucursalDto.clienteDto.nombreCompleto }}">
                        <span 
                            ng-if="prod.sucursalDto.clienteDto.nombreCorto || prod.sucursalDto.clienteDto.nombreCompleto">
                            {{ prod.sucursalDto.clienteDto.nombreCorto || prod.sucursalDto.clienteDto.nombreCompleto }},
                        </span> 
                        <span>{{ prod.sucursalDto.nombreSucursal}}</span>
                    </a>                
                </h4>                
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-12 bgf9">
                <ul class="meta-list">
                    <li>
                    <mcui-favourite
                        data-checked="prod.sucursalDto.usuarioFavorito" 
                        data-item-id="{{ prod.sucursalDto.id}}">
                    </mcui-favourite>                         
                    </li>
                    <li>
                        <button class="btn-customized comments-links" ng-click="vm.fn.showComments()" title="Comentarios y valoraciones">
                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                            <span>&nbsp;{{ prod.sucursalDto.valoracion.sucursalValoracionesDetDto.length || 0}}</span>
                            <span>&nbsp;Comentarios</span>
                        </button>                         
                    </li>
                    <li>
                        <mcui-bar-rating ng-model="prod.sucursalDto.valoracion.puntajeTotal" readonly="true"></mcui-bar-rating> 
                    </li>                     
                </ul>               
            </div>

            <div class="clearfix"></div>            

            <div class="post-info-wrapper pt15 pb15 pl10 pr10">
                <div class="col-sm-3">
                    <div class="thumbnail post-thumb" 
                         mcui-thumb-bg="{{ prod.imagen}}"
                         title="{{ prod.sucursalDto.clienteDto.nombreCorto || prod.sucursalDto.clienteDto.nombreCompleto }}">
                        <!--<img ng-src="{{ prod.imagen}}" alt="" class="img-responsive" title="{{ prod.sucursalDto.clienteDto.nombreCorto || prod.sucursalDto.clienteDto.nombreCompleto }}" />-->
                    </div>
                </div>

                <div class="col-sm-9 bgf9 pt10 pb10">                                        
                    <p class="post-label post-tlf" ng-if="prod.sucursalDto.telefonos"><i class="fa fa-phone" aria-hidden="true"></i>{{ prod.sucursalDto.telefonos}}</p>
                    <p class="post-label post-horario" ng-if="prod.sucursalDto.horarioAtencion"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ prod.sucursalDto.horarioAtencion}}</p>
                    <p class="post-label post-direccion" ng-if="prod.sucursalDto.direccionFisica"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                        {{ prod.sucursalDto.direccionFisica}}.
                        {{ prod.sucursalDto.ciudadDto.descripcion}}
                    </p>                
                </div>
            </div>            
        </div>

        <div class="row-fluid pt5 pb5 bgf9" style="overflow:hidden;">
            <div class="col-sm-12 text-right">
                <mcui-post-categories data-categories="prod.categoriasDto"></mcui-post-categories>                
            </div>
        </div>

        <hr ng-repeat-end />
    </div>
    <!-- /GRID -->

    <!-- CUADRICULA -->
    <div ng-show="!vm.viewmode.grid">

        <!--
        <div class="col-sm-4 prd-quad-item" ng-repeat="prod in vm.data.productos| filter: vm.fastSearch" ng-init="$index = 1">
            <div class="p-one simpleCart_shelfItem prd">
                <a data-ui-sref="product.view({id:prod.id})" title="{{ prod.nombreCompleto}}">
                    <img ng-src="{{ prod.imagen}}" alt="" class="img-responsive" />
                    <div class="mask">
                        <span>Quick View</span>
                    </div>
                </a>
                <h4 style="">{{ prod.nombreCorto || prod.nombreCompleto}}</h4>
            </div>	
        </div>-->        


        <!--<div class="products-grd" ng-repeat-start="prod in vm.data.productos | filter: vm.fastSearch" ng-init="$index = 1">
            <div class="p-one simpleCart_shelfItem prd">
                <a data-ui-sref="product.view({id:prod.id})" title="{{ prod.nombreCompleto}}">
                    <img ng-src="{{ prod.imagen}}" alt="" class="img-responsive" />
                    <div class="mask">
                        <span>Quick View</span>
                    </div>
                </a>
                <h4 style="height: 45px; overflow: hidden; display: block;">{{ prod.nombreCompleto}}</h4>
            </div>	
        </div>

        <div ng-repeat-end>
            <div class="clearfix" ng-if="$index % 3 == 0 && $index != 0"></div>
        </div> -->

        <!-- /CUADRICULA -->
    </div>    
</div>

<div class="load-more-result" ng-if="vm.moreResult.more && vm.data.productos.length > 0">
    <button class="btn-customized btn-load-more" ng-click="vm.fn.loadMore()"><i class="fa fa-refresh"></i>&nbsp;Cargar más resultados</button>
</div>