<!--
<section  class="sky-form">
    <h4>Cliente</h4>
    <div class="row1 scroll-pane h_inherit">
        <div class="col col-4">

            <select name="categoria" id="categoria" class="form-control"
                    ng-change="vm.fn.selectCliente(vm.form.cliente)"
                    ng-options="option.nombreCompleto for option in vm.data.clientes track by option.id"
                    ng-model="vm.form.cliente">
                <option ng-selected="true" value="">---</option>
            </select> 

        </div>
    </div>
</section>-->
<!--
<section class="sky-form">
    <h4>Temática</h4>

    

    <div class="row1 scroll-pane">
        <div class="col col-4">
            <label ng-repeat="cat in vm.data.categoria" 
                   class="checkbox">
                <input type="checkbox" name="checkbox_categoria[]" ng-model="vm.form.categoria[cat.id]"><i></i>{{ cat.descripcion}}
            </label>            
            
            <select name="categoria" id="categoria" class="form-control"
                    ng-change="vm.fn.selectCategoria(vm.form.categoria)"
                    ng-options="option.descripcion for option in vm.data.categoria track by option.id"
                    ng-model="vm.form.categoria">
                <option ng-selected="true" value="">---</option>
            </select>            
        </div>
    </div>
</section>-->

<section class="sky-form">
    <h4>Categoría <small><a href="#" data-ui-sref="category.list">Ver todas</a></small></h4>

    <div class="row1 scroll-pane mh600">
        <div class="col col-4">
            <label ng-repeat="category in vm.data.subcategoria" 
                   class="checkbox"
                   ng-class="vm.form.subcategoria[category.id] ? 'category-active' : ''">
                <input 
                    type="checkbox" 
                    name="checkbox_subcategoria[]" 
                    ng-model="vm.form.subcategoria[category.id]"
                    ng-change="vm.fn.checkCategory(category)">
                <i></i>
                {{ category.descripcion}}
            </label>                        
        </div>
    </div>
</section>