<section class="sky-form">
    <h4>Recomendados</h4>
    <div class="row1 scroll-pane h_inherit panel-recomendados mh600">
        <div class="col col-4">

            <div class="widget-recomendados" ng-repeat="pub in vm.data.recomendados track by pub.id">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img ng-src="{{ pub.archivos[pub.archivos.length - 1]['url'] || $settings.noimage}}" class="img-responsive" title="{{ pub.descripcionCorta}} 400x300" />
                        </div>                    
                    </div>
                    <div class="col-sm-8">
                        <a href="#">{{ pub.titulo}}</a>
                        <p>
                            <small>{{ pub.fechaCreacion | date:'short'}}</small>
                        </p>

                    </div>

                    <div class="col-sm-12">
                        <p class="descripcion">{{ pub.descripcionCorta}}</p>
                    </div>
                </div>

                <div class="row r-bottom">
                    <div class="col-sm-4 btn-layout-like">
                        <button><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span>24</span></button>
                    </div> 

                    <div class="col-sm-8 text-right">
                        <button class="btn btn-primary btn-promocionar">Promocionar</button>
                    </div>
                </div>
            </div>

            <p class="text-error text-center" ng-show="vm.data.recomendados.length == 0">No se encontraron resultados !!</p>

        </div>
    </div>
</section>