<div class="single-page mb20">

    <!--<pre>
    {{ vm.sucursal | json:4 }}    
    </pre>-->

    <div class="bg-image-cliente" mcui-bgimage-sucursal data-sucursal="vm.sucursal">

        <div class="valoracion-sucursal-perfil">
            <small>Valoración</small>
            <p class="mt5">
            <mcui-bar-rating 
                ng-model="vm.sucursal.valoracion.puntajeTotal" 
                data-readonly="true" 
                data-css-class="mcui-br-green">                                
            </mcui-bar-rating>
            </p>    
        </div> 

        <button type="button" class="btn-customized btn-dd-sucursal" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bars"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#" ng-click="vm.fn.showComments()">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;Comentarios &nbsp;<span class="badge">{{ vm.sucursal.valoracion.sucursalValoracionesDetDto.length || 0 }}</span>
                </a>
            </li>
            <li>
                <a href="#" ng-click="vm.fn.showReportar()">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Reportar
                </a>
            </li>
        </ul>                      

        <div class="thumb-cliente-sucursal">
            <div class="col-xs-2 col-sm-4">
                <mcui-thumb-cliente data-cliente="vm.cliente"></mcui-thumb-cliente>
            </div>

            <div class="col-xs-4 col-sm-8 sucursal-cliente-title">
                <h3>{{ vm.cliente.nombreCompleto}}</h3>
                <h5>{{ vm.sucursal.nombreSucursal}}</h5>
            </div> 
        </div> 
    </div>


    <div class="clearfix"></div>

    <h3 class="text-left mt20">Sucursales</h3>

    <div class="row-fluid cliente-sucursal-list mb40 scroll-pane">

        <p class="text-error text-center" ng-show="vm.data.sucursales.length == 0">No se encontraron Sucursales para este Cliente !!</p>

        <div class="col-sm-3 sucursal-item mb10" ng-repeat="item in vm.data.sucursales" ng-class="item.id == vm.sucursal.id ? 'selected' : ''">
            <a href="#" ng-click="vm.fn.verDetalleSucursal(item)" title="{{ item.nombreSucursal || 'Sucursal ' + item.id }}">
                <div class="sucursal-item-thumb">
                    <div class="thumb" mcui-thumb-bg="{{ item.imagen}}"></div>
                    <h4 class="nombre-sucursal">                            
                        <span class="badge" ng-if="item.id == vm.sucursal.id">{{ item.nombreSucursal || 'Sucursal ' + item.id }}</span>
                        <span class="" ng-if="item.id != vm.sucursal.id">{{ item.nombreSucursal || 'Sucursal ' + item.id }}</span>                         
                    </h4>

                </div>
            </a>
        </div>
    </div>    

    <div class="row cliente-sucursal-detail mb40">
        <div class="col-sm-4 mb10">

            <div class="row-fluid custom-det-item">
                <div class="col-xs-2 thumb">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                </div>
                <div class="col-xs-10 description bgf9">
                    <small>Comentarios</small>
                    <p>
                        <button class="btn-customized comments-links" ng-click="vm.fn.showComments()">
                            <i class="fa fa-comments-o" aria-hidden="true"></i><span>{{ vm.sucursal.valoracion.sucursalValoracionesDetDto.length || 0 }}</span><span>Comentarios</span>
                        </button>
                    </p>                             
                </div>
            </div>                    

        </div>                



        <div class="col-sm-4 mb10">          
            <div class="row-fluid custom-det-item">
                <div class="col-xs-2 thumb">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                </div>
                <div class="col-xs-10 description bgf9">
                    <small>Verificación</small>
                    <p>
                        <!-- checkRatingUsuario -->
                        <!-- checkRatingInfoguia -->
                    <mcui-check check-by-admin="vm.sucursal.checkRatingInfoguia" check-by-user="vm.sucursal.checkRatingUsuario"></mcui-check>  
                    </p>                             
                </div>
            </div>
        </div>                 

        <div class="col-sm-4 mb10" ng-if="$appUser != null">

            <div class="row-fluid custom-det-item">
                <div class="col-xs-2 thumb">
                    <i class="fa fa-star-o" aria-hidden="true"></i>                            
                </div>
                <div class="col-xs-10 description bgf9">
                    <small>Mis Listas</small>
                    <p>

                    <mcui-favourite 
                        data-checked="vm.sucursal.usuarioFavorito" 
                        data-item-id="{{ vm.sucursal.id}}">
                        Favoritos
                    </mcui-favourite>
                    </p>                            
                </div>
            </div>
        </div>                  
    </div>     

    <div class="row cliente-sucursal-detail mb40">
        <!--
        <div class="col-sm-4">
            <small>Valoración</small>
            <p class="mt5">
            <mcui-bar-rating 
                ng-model="vm.sucursal.valoracion" 
                data-readonly="true" 
                data-css-class="mcui-br-green">                                
            </mcui-bar-rating>
            </p>    
        </div>

        <div class="clearfix"></div>-->

        <!--
        <div class="col-sm-3" ng-if="$appUser != null">
            <small>Mi Valoración</small>
            <p class="mt5">
            <mcui-bar-rating 
                ng-model="vm.sucursal.valoracionUsuario"
                on-select="vm.fn.toComment(value)">                                
            </mcui-bar-rating>
            </p>                      
        </div>
        -->

        <div class="col-sm-4">
            <small>Nombre</small>
            <p>{{ vm.sucursal.nombreSucursal || '-'}}</p>

            <small>Teléfonos</small>
            <p>{{ vm.sucursal.telefonos || '-'}}</p>      

            <small>Horario de Atención</small>
            <p>{{ vm.sucursal.horarioAtencion || '-'}}</p>   

            <small>Sitio web</small>
            <p><a href="{{ vm.sucursal.sitioWeb}}" title="{{ vm.sucursa.nombreSucursal}}">{{ vm.sucursal.sitioWeb || '-'}}</a></p>  

            <small>Emails</small>
            <p>{{ vm.sucursal.emails || '-' }}</p>
        </div>     

        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-6">
                    <small>Dirección física</small>
                    <p class="mb20">{{ vm.sucursal.direccionFisica || '-'}}</p>                     
                </div>
                <div class="col-sm-3">
                    <small>Ciudad</small>
                    <p>{{ vm.sucursal.ciudadDto.descripcion || '-' }}</p>  
                </div>

                <div class="col-sm-3">
                    <small>Departamento</small>
                    <p>{{ vm.sucursal.ciudadDto.departamentoDto.descripcion || '-' }}</p>  
                </div>                
            </div>            

            <ng-map center="{{ vm.sucursal.coordenadas || vm.data.coordenadas[0] }}" zoom="13">
                <marker
                    ng-repeat="coord in vm.data.coordenadas | filter: vm.sucursal.coordenadas"
                    position="{{ coord}}"
                    animation="Animation.BOUNCE">                    
                </marker>          
            </ng-map> 
        </div>
    </div>

    <div class="row">        
        <div class="col-sm-4">

            <h3 class="text-left mt20">Tipo de publicaciones</h3>    

            <div class="row">
                <div class="col-sm-12">

                    <div class="tp-perfil">

                        <div class="row-fluid tp-item"
                             ng-class="!vm.filterPublicacion.tipo.id ? 'active' : ''"
                             ng-click="vm.fn.selectTipoPublicacion(null)">
                            <div class="col-xs-2 tp-thumb text-center">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </div>

                            <div class="col-xs-10 tp-descripcion bgf9 pt5 pb5">
                                Ver Todo
                            </div>
                        </div>                        

                        <div class="row-fluid tp-item"
                             ng-class="vm.filterPublicacion.tipo.id == option.id ? 'active' : ''"
                             ng-click="vm.fn.selectTipoPublicacion(option)" 
                             ng-repeat="option in vm.data.tipoPublicaciones | tpcodigoFilter">
                            <div class="col-xs-2 tp-thumb text-center">
                                {{ $index + 1}}
                            </div>

                            <div class="col-sm-10 tp-descripcion bgf9 pt5 pb5">
                                {{ option.descripcion}}
                                <span class="pull-right" mcui-countertp data-collection="vm.data.publicaciones_copy" data-codigo="{{ option.codigo}}">
                                </span>                                
                            </div>                          
                        </div>
                    </div>

                    <!--

                    <div class="form-group">
                        <select name="tipoPublicacion" id="tipoPublicacion" class="form-control"
                                ng-change="vm.fn.selectTipoPublicacion(vm.filterPublicacion.tipo)"
                                ng-options="option.descripcion for option in vm.data.tipoPublicaciones track by option.id"
                                ng-model="vm.filterPublicacion.tipo">
                            <option ng-selected="true" value="">---</option>
                        </select> 
                    </div>

                    <div class="form-group">
                        <label>Búsqueda rápida</label>
                        <input 
                            type="search" 
                            ng-model="vm.filterPublicacion.filter" 
                            class="form-control" 
                            placeholder="Búsqueda rápida" />
                    </div>-->

                </div>
            </div>            
        </div>

        <div class="col-sm-8">

            <h3 class="text-left mt20">Publicaciones. <b>{{ vm.cliente.nombreCompleto}}</b></h3>    

            <div class="row">
                <div class="col-sm-12">
                    <div class="h350 scroll-pane">

                        <p class="text-error text-center" ng-show="pubResult.length == 0">No se encontraron Publicaciones para este Cliente !!</p>

                        <!--
                        <pre>
                            {{ vm.data.publicaciones[0] | json:4 }}
                        </pre>
                        -->

                        <div class="row-fluid" ng-repeat-start="item in vm.data.publicaciones | filter: vm.filterPublicacion.filter as pubResult">
                            <div class="col-sm-3">
                                <div class="thumbnail">
                                    <img ng-src="{{ item.dirImagen || 'web/assets/img/no-thumbnail.jpg' }}" class="img-responsive" />
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <small class="muted">
                                    <mcui-wish 
                                        ng-if="$appUser != null"
                                        data-checked="item.usuarioListaDeseo" 
                                        data-item-id="{{item.id}}">       
                                        |
                                    </mcui-wish> 
                                    {{ item.fechaCreacion | date:'mediumDate' }} |
                                    <a 
                                        data-ui-sref="post.search({type:item.tipoPublicacionDto.id})" 
                                        title="{{ item.tipoPublicacionDto.descripcion}}">
                                        <b>{{ item.tipoPublicacionDto.descripcion}}</b>
                                    </a>
                                </small>
                                <h3 class="mt0">{{ item.titulo}}</h3>                
                                <p class="desc">{{ item.descripcionCorta}}</p>
                            </div>
                        </div> 

                        <div class="clearfix" ng-repeat-end></div>

                    </div>
                </div>
            </div>   
        </div>
    </div>

</div>
