
<h3 class="page-title">Editando mi cuenta</h3>

<div class="row">
    <div class="col-sm-5">
        <div class="box box-default">
            <div class="box-body">
                <form novalidate name="modelForm" ng-submit="vm.fn.saveModel(modelForm.$valid)" id="modelForm" data-ng-include="'web/views/account/partials/form.edit.html'"></form>
            </div>
        </div>
    </div>

    <div class="col-sm-7">
        <div class="box box-default">
            <div class="box-body">
                <!-- bsActivePane is optional -->
                <div bs-tabs>

                    <div data-title="Lista de Deseos"
                         bs-pane
                         name="Lista de Deseos" 
                         ng-include="'web/views/account/partials/wish.list.html'">
                    </div>

                    <div data-title="Lista de Favoritos"
                         bs-pane
                         name="Lista de Favoritos" 
                         ng-include="'web/views/account/partials/favourite.list.html'">
                    </div>                    
                </div> 

            </div>
        </div>        

    </div>    

</div>