
<!--<img src="https://dummyimage.com/600x400.jpg/ECECEC" class="img-responsive" />-->

<div class="home-main-slider">
    <flex-slider slide="pub in vm.collection track by pub.id">
        <li>
            <img ng-src="{{ pub.archivos[pub.archivos.length - 1]['url']}}" class="img-responsive" title="{{ pub.descripcionCorta}}" />
            <div class="content-slide">
                <a  class="btn btn-danger flat" href="#" data-ui-sref="product.view({id:pub.clienteDto.id})">
                    Go!
                </a>
            </div>
        </li>
    </flex-slider>
</div>