<div class="banner-bottom1">
            <div class="container">
                <div class="banner-bottom1-grids">
                    <div class="banner-bot-grd">
                        <div class="col-md-7 banner-bot-grid">
                            <div class="jel-video">
                                <iframe src="https://player.vimeo.com/video/45541146" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-5 banner-bot-grid">
                            <div class="banner-bot-grid1">
                                <img src="resources/images/a3.jpg" alt=" " class="img responsive" />
                                <div class="pos-absolt">
                                    <h3>omnis voluptas assumenda</h3>
                                    <p>Temporibus autem quibusdam et aut officiis debitis aut 
                                        rerum necessitatibus saepe eveniet ut et voluptates.</p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-4 banner-bottom1-grid">
                        <div class="banner-bottom1-grid1">
                            <img src="resources/images/6.jpg" alt=" " class="img-responsive" />
                            <div class="head-para">
                                <h3>omnis voluptas assumenda</h3>
                                <p>Temporibus autem quibusdam et aut officiis debitis aut 
                                    rerum necessitatibus saepe eveniet ut et voluptates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 banner-bottom1-grid">
                        <div class="banner-bottom1-grid1">
                            <img src="resources/images/5.jpg" alt=" " class="img-responsive" />
                            <div class="head-para">
                                <h3>omnis voluptas assumenda</h3>
                                <p>Temporibus autem quibusdam et aut officiis debitis aut 
                                    rerum necessitatibus saepe eveniet ut et voluptates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 banner-bottom1-grid">
                        <div class="banner-bottom1-grid1">
                            <img src="resources/images/7.jpg" alt=" " class="img-responsive" />
                            <div class="head-para">
                                <h3>omnis voluptas assumenda</h3>
                                <p>Temporibus autem quibusdam et aut officiis debitis aut 
                                    rerum necessitatibus saepe eveniet ut et voluptates.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>