<div class="banner-bottom">
            <div class="container">
                <div class="product-one">
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">							
                            <a href="single.html">
                                <img src="resources/images/1-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">
                            <a href="single.html">
                                <img src="resources/images/3-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">
                            <a href="single.html">
                                <img src="resources/images/2-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">
                            <a href="single.html">
                                <img src="resources/images/4-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">							
                            <a href="single.html">
                                <img src="resources/images/5-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">
                            <a href="single.html">
                                <img src="resources/images/6-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="product-one">
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">							
                            <a href="single.html">
                                <img src="resources/images/7-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">
                            <a href="single.html">
                                <img src="resources/images/13-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">
                            <a href="single.html">
                                <img src="resources/images/9-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">
                            <a href="single.html">
                                <img src="resources/images/10-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">							
                            <a href="single.html">
                                <img src="resources/images/11-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 product-left"> 
                        <div class="p-one simpleCart_shelfItem jwe">
                            <a href="single.html">
                                <img src="resources/images/12-.jpg" alt="" class="img-responsive" />
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <div class="product-left-cart">
                                <div class="product-left-cart-l">
                                    <p><a class="item_add" href="#"><i></i> <span class=" item_price">$729</span></a></p>
                                </div>
                                <div class="product-left-cart-r">
                                    <a href="#"> </a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>