<div class="cate">
    <div class="container">
        <div class="cate-left">
            <h3>Necklaces<span>Our Catelog</span></h3>
        </div>
        <div class="cate-right">
            <!-- slider -->
            <ul id="flexiselDemo1">			
                <li>
                    <div class="sliderfig-grid">
                        <img src="resources/images/a.jpg" alt=" " class="img-responsive" />
                    </div>
                </li>
                <li>
                    <div class="sliderfig-grid">
                        <img src="resources/images/b.jpg" alt=" " class="img-responsive" />
                    </div>
                </li>
                <li>
                    <div class="sliderfig-grid">
                        <img src="resources/images/c.jpg" alt=" " class="img-responsive" />
                    </div>
                </li>
                <li>
                    <div class="sliderfig-grid">
                        <img src="resources/images/d.jpg" alt=" " class="img-responsive" />
                    </div>
                </li>
            </ul>
        </div>
        <!-- //slider -->
        <div class="clearfix"> </div>
    </div>
</div>