<section class="sky-form category-home-widget">
    <h4>Categoría <small><a href="#" data-ui-sref="category.list">Ver todas</a></small></h4>
    
    <div class="row1 scroll-pane h300">
        <div class="col col-4">
            <ul>
                <li ng-repeat="sub in vm.data.subcategoria" ng-click="vm.fn.filterByOneSubcategoria(sub)">
                    <i class="fa fa-caret-right"></i>&nbsp;{{ sub.descripcion}}
                </li>
            </ul>																					
        </div>
    </div>
</section>