<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header" ng-show="title">
                <button type="button" role="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title"><b>Infoguía</b> Tu opinión nos interesa.</h5>  
            </div>

            <div class="modal-body">   

                <div class="text-center mb10">
                    <mcui-bar-rating ng-model="rating" data-readonly="true"></mcui-bar-rating>
                </div>

                <form novalidate name="frmComment" id="frmComment" ng-submit="fn.sendComment(frmComment.$invalid, {comment: comment, rating: rating})">
                    <div class="form-group">
                        <textarea 
                            class="form-control" 
                            rows="5" 
                            ng-model="comment" 
                            ng-required="true" 
                            placeholder="Haz tu comentario..!!">                                
                        </textarea>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-danger btn-block btn-flat" ng-disabled="frmComment.$invalid">Enviar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>                
            </div>          
        </div>
    </div>
</div>

