<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header" ng-show="title">
                <button type="button" role="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title"><b>{{ vm.cliente.nombreCompleto}}</b>. Opinión de los usuarios.</h5>  
            </div>

            <div class="modal-body">

                <div class="cliente-sucursal-detail bg-image-cliente" mcui-bgimage-sucursal data-sucursal="vm.sucursal">

                    <div class="wrapp">
                        <div class="row">
                            <div class="col-sm-4">
                                <small>Valoración</small>
                                <p class="mt5">
                                <mcui-bar-rating 
                                    ng-model="vm.sucursal.valoracion.puntajeTotal" 
                                    data-readonly="true" 
                                    data-css-class="mcui-br-green">                                
                                </mcui-bar-rating>
                                </p>    
                            </div>      

                            <div class="col-sm-4">
                                <small>Verificación</small>
                                <p>   
                                    <mcui-check data-readonly="true" check-by-admin="vm.sucursal.checkRatingInfoguia" check-by-user="vm.sucursal.checkRatingUsuario">                                </mcui-check>                                    
                                </p>                     
                            </div>  

                            <div class="col-sm-4">
                                <small>Sitio web</small>
                                <p><a href="{{ vm.sucursal.sitioWeb}}" title="{{ vm.sucursa.nombreSucursal}}">{{ vm.sucursal.sitioWeb}}</a></p>                             
                            </div>                         

                            <div class="clearfix"></div>

                            <div class="col-sm-4">
                                <small>Nombre</small>
                                <p>{{ vm.sucursal.nombreSucursal}}</p>  

                            </div>

                            <div class="col-sm-4">
                                <small>Dirección física</small>
                                <p>{{ vm.sucursal.direccionFisica}}</p>                            
                            </div> 

                            <div class="col-sm-4">
                                <small>Teléfonos</small>
                                <p>{{ vm.sucursal.telefonos}}</p>                              
                            </div>                         
                        </div>
                    </div>
                </div> 

                <hr>

                <h4>Comentarios<span class="pl10" ng-if="comments.length > 0"><b>{{ comments.length}}</b></span></h4>

                <p class="text-center" ng-if="comments.length == 0">Se el primero en hacer un comentario.</p>

                <div class="comentario-modal-wrap mh200">
                    <div class="item-comentario" ng-repeat="item in comments track by item.id">
                        <div class="row-fluid">
                            <div class="col-sm-1 pl0 pr0">
                                <div class="thumbnail">
                                    <img ng-src="{{$settings.defaultUserAvatar}}" />
                                </div>
                            </div>
                            <div class="col-sm-11">
                                <div class="pt10 pb10 pl10 pr10 bgf9">
                                    <h5>{{ item.usuario}}<span>dijo:</span></h5>
                                    <p>{{ item.comentario}}</p> 
                                    <div class="row mt10">
                                        <div class="col-sm-3">
                                            <p class="text-muted fecha">{{ item.fecha | date:short }}</p>                                
                                        </div>
                                        <div class="col-sm-9 text-right font-14">
                                            <mcui-bar-rating ng-model="item.rating" data-readonly="true"></mcui-bar-rating>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

                <hr>

                <h4>Haga un comentario y de su valoración</h4>                

                <p class="text-error text-center" ng-if="$appUser == null">Debe iniciar sesión para dar su valoración y hacer un comentario..!!</p>

                <div class="comentario-form" ng-if="$appUser != null">

                    <p class="mb10 font-13">
                        Este sitio se reserva el derecho de la publicación de los comentarios. 
                        No se harán visibles aquellos que sean denigrantes, ofensivos, difamatorios o que estén fuera de contexto.                       
                    </p>                    

                    <div class="text-left mb10">
                        <mcui-bar-rating ng-model="commentForm.rating"></mcui-bar-rating>
                    </div>

                    <form novalidate name="frmComment" id="frmComment" ng-submit="fn.sendComment(frmComment.$invalid, {comment: commentForm.comment, rating: commentForm.rating})">
                        <div class="form-group">
                            <textarea 
                                class="form-control" 
                                rows="3" 
                                ng-model="commentForm.comment" 
                                ng-required="true" 
                                placeholder="Haga un comentario..!!">                                
                            </textarea>
                        </div>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-danger btn-block btn-flat" ng-disabled="frmComment.$invalid">Enviar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>                     
                </div>

            </div>          
        </div>
    </div>
</div>

