<div class="header_top">
    <div class="container">
        <div class="col-sm-3">
            <div class="logo">
                <a data-ui-sref="home">Info Gu&iacute;a</a>			 
            </div>            
        </div>

        <div class="col-sm-7">
            <div class="home-main-slider">
                <flex-slider slide="pub in vm.collection track by pub.id" control-nav="false" slideshow-speed="5000">
                    <li>
                        <!-- 700x70-->
                        <img ng-src="{{ pub.archivos[pub.archivos.length - 1]['url']}}" class="img-responsive" title="{{ pub.descripcionCorta}}" />
                        <div class="content-slide">
                            <a  class="btn btn-danger flat" href="#" data-ui-sref="product.view({id:pub.clienteDto.id})">
                                Go!
                            </a>                            
                        </div>
                    </li>
                </flex-slider>   
            </div>            
        </div>

        <div class="col-sm-2">
            <div class="header_right">
                <div class="cart box_1">

                    <div class="total">Bienvenido</div>

                    <p ng-if="!$appUser || $appUser == null"><a class="simpleCart_empty">Usuario Anónimo</a></p>
                    <p ng-if="$appUser && $appUser != null"><a class="simpleCart_empty">{{ $appUser.username}}</a></p>
                    <div class="clearfix"></div>
                </div>				 
            </div>            
        </div>

        <div class="clearfix"></div>	
    </div>
</div>
