<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="LoginformController as vm">
    <!--<span role="dialog" class="sr-only"></span>-->
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header" ng-show="title">
                <button type="button" role="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title"><b>Infoguía</b> Iniciar sesión</h5>  
            </div>

            <div class="modal-body">                

                <form novalidate ng-submit="vm.fn.login(frmLogin.$valid, vm.data.username, vm.data.password)" name="frmLogin" class="">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Username" ng-model="vm.data.username" ng-required="true">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Contraseña" ng-model="vm.data.password" ng-required="true">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-danger btn-block btn-flat" ng-disabled="frmLogin.$invalid">Ingresar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>                
            </div>          
        </div>
    </div>
</div>

