<div class="">
    <div class="">
        <ng-map center="{{ vm.data.coords[0] }}" zoom="13">
            <marker
                ng-repeat="coord in vm.data.coords"
                position="{{ coord }}"
                animation="Animation.BOUNCE">                    
            </marker>          
        </ng-map>
    </div>
</div>

