<div class="mega_nav">
    <div class="container">
        <div class="menu_sec">
            <!-- start header menu -->
            <ul class="megamenu skyblue" data-mcui-mega-menu="">
                <li class="active grid">
                    <a class="color1" data-ui-sref="home">Inicio</a>
                </li>
                <li class="grid" ng-repeat="grupo in vm.grupo_categoria">
                    <a class="color1" ng-bind="grupo.descripcion"></a>
                    <div class="megapanel" ng-if="vm.fn.haveCategoria(grupo)">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="h_nav">
                                    <h4 ng-bind="grupo.descripcion"></h4>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <!-- data-mcui-broadcast-subcategory="{{ cat.id }}" -->
                            <div class="col-sm-12" ng-repeat="cat in vm.categoria" ng-if="cat.grupoCategoriaDto.id == grupo.id">
                                <a
                                    data-ng-click="vm.fn.searchByCategory(cat.id)"
                                    href="#"
                                    title="{{ cat.descripcion}}">
                                    <span ng-bind="cat.descripcion"></span>
                                </a>                                
                            </div>
                        </div>
                    </div>                    
                </li>                								
            </ul> 

            <div class="search">
                <form novalidate ng-submit="vm.fn.searchByText(vm.search)">
                    <input type="text" value="" placeholder="Buscar..." ng-model="vm.search" />
                    <input type="submit" value="">
                </form>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>