<section class="sky-form">
    <h4>Novedades</h4>
    <div class="row1 scroll-pane panel-novedades h300">
        <div class="col col-4">

            <div class="widget-recomendados" ng-repeat="pub in vm.collection track by pub.id">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#"><small><b>{{ pub.titulo}}</b></small></a>
                        <p class="descripcion">
                            {{ pub.descripcionCorta}}
                        </p>
                    </div>                    
                    <div class="col-sm-12 mt10">
                        <div class="thumbnail">
                            <img ng-src="{{ pub.archivos[pub.archivos.length - 1]['url']}}" class="img-responsive" title="{{ pub.titulo}} 250x160" />
                        </div>                    
                    </div>
                </div>
                <div class="row r-bottom">
                    <div class="col-sm-12 text-center">
                        <a  class="btn btn-primary btn-promocionar col-xs-12" href="#" data-ui-sref="product.view({id:pub.clienteDto.id})">
                            Visitar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>