<h3 class="section-title home-section-title mb20">Promociones</h3>    

<div class="h500">
    <div class="banner-bottom1-grids">
        <div class="">
            <div class="col-md-3 banner-bottom1-grid mb20" ng-repeat="pub in vm.collection track by pub.id">
                <a href="#" data-ui-sref="product.view({id:pub.clienteDto.id})">
                    <div class="banner-bottom1-grid1">
                        <img ng-src="{{ pub.archivos[pub.archivos.length - 1]['url']}}" class="img-responsive" title="{{ pub.descripcionCorta}} 400x300" />

                        <div class="wrap-overlay-promo">
                            <div class="head-para">
                                <div class="overlay">
                                    <h3>{{ pub.titulo}}</h3>
                                    <p>{{ pub.descripcionCorta}}</p>                            
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>                
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
