<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" role="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title"><b>Infoguía, {{ vm.cliente.nombreCompleto}}.</b>Reporta esta sucursal</h5>  
            </div>

            <div class="modal-body">   

                <div class="cliente-sucursal-detail bg-image-cliente" mcui-bgimage-sucursal data-sucursal="vm.sucursal">

                    <div class="wrapp">
                        <div class="row">

                            <div class="col-sm-4">
                                <small>Valoración</small>
                                <p class="mt5">
                                <mcui-bar-rating 
                                    ng-model="vm.sucursal.valoracion.puntajeTotal" 
                                    data-readonly="true" 
                                    data-css-class="mcui-br-green">                                
                                </mcui-bar-rating>
                                </p>    
                            </div>      

                            <div class="col-sm-4">
                                <small>Verificación</small>
                                <p>
                                    <mcui-check data-readonly="true" check-by-admin="vm.sucursal.checkRatingInfoguia" check-by-user="vm.sucursal.checkRatingUsuario"></mcui-check>                                
                                </p>                     
                            </div>  

                            <div class="col-sm-4">
                                <small>Sitio web</small>
                                <p><a href="{{ vm.sucursal.sitioWeb}}" title="{{ vm.sucursa.nombreSucursal}}">{{ vm.sucursal.sitioWeb}}</a></p>                             
                            </div>                         

                            <div class="clearfix"></div>

                            <div class="col-sm-4">
                                <small>Nombre</small>
                                <p>{{ vm.sucursal.nombreSucursal}}</p>  

                            </div>

                            <div class="col-sm-4">
                                <small>Dirección física</small>
                                <p>{{ vm.sucursal.direccionFisica}}</p>                            
                            </div> 

                            <div class="col-sm-4">
                                <small>Teléfonos</small>
                                <p>{{ vm.sucursal.telefonos}}</p>                              
                            </div>                         
                        </div>
                    </div>
                </div> 

                <h4>Describa su reporte</h4>

                <p class="text-error text-center" ng-if="$appUser == null">Debe iniciar sesión para reportar esta sucursal..!!</p>



                <div class="reporte-form"  ng-if="$appUser != null" >

                    <p class="mb10 font-13">
                        Describa su reporte, estaremos revisando las observaciones realizadas en la mayor brevedad posible. 
                        Muchas gracias !!                     
                    </p>                     

                    <form novalidate name="frmComment" id="frmComment" ng-submit="fn.sendReport(frmComment.$invalid, {comment: reportForm.comment})">
                        <div class="form-group">                                                

                            <textarea 
                                class="form-control" 
                                rows="5" 
                                ng-model="reportForm.comment" 
                                ng-required="true" 
                                placeholder="Haz tu reporte..!!">                                
                            </textarea>
                        </div>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-danger btn-block btn-flat" ng-disabled="frmComment.$invalid">Enviar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form> 
                </div>
            </div>          
        </div>
    </div>
</div>

