<div class="top_bg">
    <div class="container">
        <div class="header_top-sec">
            <div class="top_right">
                <ul>
                    <li><a href="#">Contacto</a></li> |
                    <li><a href="#">Quienes Somos</a></li>
                </ul>
            </div>
            <div class="top_left">
                <ul>
                    <li class="top_link">Email:<a href="mailto:contacto@infoguia.com.py">contacto@infoguia.com.py</a></li>
                    <li class="top_link" ng-if="!$appUser || $appUser == null">
                        <a href="#" ng-click="vm.fn.goToLogin()">Ingresar</a>
                    </li>
                    <li class="top_link" ng-if="$appUser && $appUser != null">
                        <a href="#" ng-click="vm.fn.goToMyAccount()">Mi Cuenta</a>
                    </li>                   
                    <li class="top_link" ng-if="$appUser && $appUser != null">
                        <a href="#" ng-click="vm.fn.goToLogout()">Salir</a>
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>