<div class="welcome">
    <div class="container">
        <div class="welcome-info">
            <h3>Welcome To Our Store!</h3>
            <p class="non">Repellat molestiae non recusandae<span>Asperiores repellat</span></p>
            <p class="rep">Perferendis doloribus asperiores repellat</p>
            <div class="buy wel">
                <a href="single.html">Read More</a>
            </div>
        </div>
    </div>
</div>
