
<h3 class="page-title">Todas las categorías</h3>

<div class="mih300">
    <ul class="skyblue row mb40">
        <li class="grid col-sm-3" ng-repeat="grupo in vm.data.grupo_categoria" style="list-style: none">
            <div class="megapanel" ng-if="vm.fn.haveCategoria(grupo)">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="h_nav">
                            <h4 ng-bind="grupo.descripcion"></h4>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-12" ng-repeat="cat in vm.data.categoria" ng-if="cat.grupoCategoriaDto.id == grupo.id">
                        <a data-ui-sref="product.searchbysubcategory({id:cat.id})" title="{{ cat.descripcion}}"><span ng-bind="cat.descripcion"></span></a>
                    </div>
                </div>
            </div>                    
        </li>                								
    </ul> 
</div>