<section class="home-1">
    <div class="container mt40">
        <div class="col-sm-3">
            <!-- categorias -->
            <div data-ui-view="categorias"></div>
        </div>

        <div class="col-sm-6">
            <!-- banner -->
            <div data-ui-view="banner"></div>
        </div>

        <div class="col-sm-3">
            <!-- novedades -->
            <div data-ui-view="novedades"></div>
        </div>
    </div>
</section>



<div class="container mb40">
    <!-- promociones -->
    <div data-ui-view="promociones"></div>
</div>



<!-- map-places 
<div data-ui-view="map_places"></div>-->

<!-- cate
<div data-ui-view="cate"></div>-->

<!-- cate_bottom 
<div data-ui-view="cate_bottom"></div>-->

<!-- wellcome 
<div data-ui-view="wellcome"></div>-->

<!-- banner_bottom1 
<div data-ui-view="banner_bottom1"></div>-->

<!-- banner_bottom 
<div data-ui-view="banner_bottom"></div>-->