<!-- products -->
<div class="products mb40" ng-show="!currentState.data.single">
    <div class="container">
        
        <h3 class="page-title">Resultado de búsqueda</h3>
        
        <div class="products-grids mt0 pt0">
            
            <div class="col-sm-3 products-grid-right">
                <div class="w_sidebar" data-ui-view="sidebar_left"></div>
            </div>            
            
            <div class="col-sm-6 products-grid-left main-content" data-ui-view="main_content"></div>

            <div class="col-sm-3 products-grid-right">
                <div class="w_sidebar" data-ui-view="sidebar_right"></div>
            </div>
        </div>
    </div>
</div>

<!-- single-page -->
<div class="single" ng-show="currentState.data.single">
    <div class="container" data-ui-view="main_content">

    </div>
</div>
<!-- single -->



