<!-- products -->
<div class="products">
    <div class="container">
        <div class="products-grids">
            <div class="col-sm-8 products-grid-left" data-ui-view="main_content"></div>

            <div class="col-sm-4 products-grid-right">
                <div class="w_sidebar" data-ui-view="sidebar_right"></div>
            </div>
        </div>
    </div>
</div>

