<!-- top_bg -->
<div data-ui-view="top_bg"></div>

<!-- header_top -->
<div data-ui-view="header_top"></div>

<!-- mega_nav -->
<div data-ui-view="mega_nav"></div>

        <!-- content -->
        <div data-ui-view="content"></div>

<!-- footer -->
<div data-ui-view="footer"></div>